* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;

      font-family:'Poppins' ,sans-serif;
    }

    body {
      background: #ccc;

      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .initial {
      width: 300px;
      height: 180px;
      background: white;

      display: grid;
      place-items: center;

      border-radius: 1rem;
    }

    #user {
      width: 250px;
      height: 38px;
      border-radius: 1rem;

      border: 2px purple solid;
      padding: 4px;
    }

    .container {
      position: absolute;
      z-index: 1;

      width: min(70vw, 600px);
      background: white;
      padding: 10px;
      
      display: grid;
      place-items: center;
    }

    img {
      width: 400px;
      height: 400px;

      margin-bottom: 10px;
    }

    .text {
      display: flex;
      justify-content: space-between;
    }

    /*===========Buttons=============*/
    #button {
      width: 140px;
      height: 40px;
      background: #360442;

      display: grid;
      place-items: center;

      color: white;
      font-size: 20px;
      border-radius: 1rem;

      cursor: pointer;
    }

    #back {
      width: 140px;
      height: 40px;
      background: #000;

      display: grid;
      place-items: center;
      margin-top: 10px;

      color: white;
      font-size: 20px;
      border-radius: 1rem;

      cursor: pointer;
    }

    .show {
      visibility: hidden;
    }
